.comment{
    margin: 15px 0;
    display: flex;
}

.comment .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.comment .avatar .icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment .content {
    flex: 1;
    margin-left: 10px;
    background-color: #dbdbdb;
    border-radius: 30px;
    padding: 10px;
    font-size: 14px;
}

.comment .content .name{
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
}